<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="content" id="content">
        <h1 class="mainh">GAME CHANGERS</h1>
        <p class="mainp">Add a new organizer</p>

        <div class="box organiser">
            <h1>ADD ORGANIZER</h1>
            <form action="/addOrganiser" method="POST">
                <div class="form-group">
                    <label for="organiser-username">Username</label>
                    <input type="text" id="organiser-username" name="username">
                </div>
                <div class="form-group">
                    <label for="organiser-pwd">Password</label>
                    <input type="password" id="organiser-pwd" name="password">
                </div>
                <button type="submit">Add Organizer</button>
            </form>
        </div>
    </div>
</body>
</html>
