<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"    href="styles.css">
    </head>
    <body>
        <div class="nav" id="nav">
            <div class="nav-tog" id="nav-tog" onclick="toggle()">☰</div>
            <div class="nav-links" id="nav-links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="login">Login</a>
                <a href="#">contact us</a>
            </div>
        </div>
        <div class="content" id="content">
            <h1 class="mainh">GAME CHANGERS</h1>
            <p class="mainp">An online ticketing platform for events.</p>
            <div id="about">
                <h2>About Us</h2>
                <p>Game Changers is an innovative platform for booking tickets for a variety of events. We aim to provide a seamless and enjoyable experience for our users.</p>
                <p> for more details, do <a href="org">LOGIN</a></p>
            </div>
            <div id="contact">
                <h2>Contact Us</h2>
                <p>If you have any questions or need support, feel free to contact us at <a href="mailto:gamechangers@gmail.com">gamechangers@gmail.com</a>.</p>
            </div>
        </div>


        <script src="main.js"></script>
    </body>
</html>